{% extends 'stickerz/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}


    {% block sidebar_block %}
    <h4>CATEGORIES</h4>
    <ul class="text-dark">
        {% for category in categories %}
        <li><a class="text-dark" href="{% url 'stickerz:category' category %}">{{category}}</a></li>
        {% endfor %}
        </ul>
    {% endblock %}

{% block body_block %}
<div class="grid-container">
    {% for sticker in stickers %}
    <div class=""> <!--replace with acc url-->
        <a  href="{% url 'stickerz:sticker' sticker.sticker_slug %}/">
        <img class="sticker-img" src="{{ MEDIA_URL }}{{ sticker.image }}" alt="{{ stickers.name}}" /> <br>
        {{sticker.name}}{{sticker.price}}</a>
    </div>
    {% endfor %}
    
    </div>
</div>      
{% endblock %}